# Python
__pycache__/
.mypy_cache/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
/venv/*
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
/.idea/*

# Misc
*.temp.*
*.test.*
*.misc.*
/test.py
.cache
/Archive/
/Client-Tests/
